:root {
  /* INTERFACES */
  --interfaz: lightgrey;

  /* BOTONES */
  --boton: #168992;
  --botona: #0d0110;
  --botonb: #EE606A;
}

body {
  padding:0;
  margin:0;
  font-family: 'Roboto', sans-serif;
}

p {
  font-size: 0.85em;
}

footer {
  padding: 2em 0px 0px 0px;
  font-size: 0.7em;
}

input {
  font-size: 1em;
}

button {
  font-family: 'Chewy', cursive;
  font-size: 0.9em;
  color:var(--botona);
  background: var(--boton);
  box-shadow:none;
  border: solid 1px var(--botona);
  border-radius: 2em;
  margin: 0px;
  padding: 5px;
}

.main_btn {
  font-family: 'Chewy', cursive;
  font-size: 1em;
  border: solid 2px var(--botona);
  padding: 0.6em;
}

.img_btn {
  border-radius: 0px;
}

button:hover {
  color: var(--botona);
  background: var(--botonb);
  cursor: pointer;
}

button:active {
  background: var(--botonb);
}

.activebutton {
  background: var(--botonb);
}

button:focus {
  outline:none;
}

section {
  box-sizing: border-box;
  border: solid 1px var(--botonb);
  /* height: 100%; */
}

.interactivo {
  box-sizing: border-box;
  margin: 0px;
}

.barra {
  box-sizing: border-box;
  padding: 0px 1em;
  margin: 10px;
  display: flex;
  justify-content: space-between;
}

.barra h1 {
  margin: 0;
  font-size: 1.4em;
}

.contenido {
  box-sizing: border-box;
  margin: auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-gap: 3em;
  /* border: solid 1px green; */
  max-width: 1280px;
}

.contenido h1 {
  font-size: 1.5em;
}

.contenido p {
  text-align: left;
}

.contenido_a {
  max-width: 400px;
}

.galeria {
  box-sizing: border-box;
  margin: auto;
  max-width: 1280px;
  padding: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  /* border: solid 1px green; */
}

.detalle_obra {
  box-sizing: border-box;
  margin: auto;
  padding: 1.3em;
  display: grid;
  grid-template-columns: 1fr 1.2fr;
  grid-gap: 1em;
  /* border: solid 1px green; */
  max-width: 1280px;
}

.detalle_obra_b p {
  margin: 5px auto;
}

.catalogo {
  box-sizing: border-box;
  padding: 1.3em;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  height: 480px;
  overflow: scroll;
}

.filtro {
  margin: 15px 0;
}


.interactivo_mock {
  width: 700px;
  height: 500px;
  background: var(--interfaz);
}

.video_mock {
  width: 640px;
  height: 480px;
  background: var(--interfaz);
  margin: auto;
}

.obra_mock {
  margin: 10px;
  width: 250px;
  height: 140px;
  background: var(--interfaz);
  cursor: pointer;
}

.obra_ampliada_mock {
  width: 640px;
  height: 480px;
  background: var(--interfaz);
}

.libreta_mock {
  margin: 5px;
  width: 80px;
  height: 130px;
  background: var(--interfaz);
  cursor: pointer;
}

.libreta_detalle_mock {
  margin: auto;
  width: 700px;
  height: 450px;
  background: var(--interfaz);
}